:root{
    --color: #e6007e;
    --txt: rgb(185, 185, 185)
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);

    /* outline: 1px solid red; */
}

.page {
    height: 100vh;
    width: 100vw;
}

.page, .transparency{
    display: flex;
    flex-flow: row wrap;
}

.imagebox {
    
    background-image: url('stanleypark.jpg');
    background-position: 55% 65%;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    
}

.transparency {
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.translink {
    width: 10vw;
}

h1 {
    color: white;
}


.right {
    width: 60vw;
}