html {
    height: 100%;
}
body {
    background-color: rgb(154, 114, 192);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.left {
    background-color: rgb(53, 33, 44);
    flex-shrink: 2;
}

.right {
    background-color: rgb(34, 97, 62);
    flex-grow: 2;
    flex-shrink: 1;
}

img {
    max-height: 1000px;
    width: auto;
}

